<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Pycommerce{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <div id="wrapper" class="container">
            <header class="row">
                <nav class="col navbar black-nav">
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'img/new-logo.png' %}"
                             class="d-inline-block align-top logo" alt=""
                             loading="lazy">
                        <img src="{% static 'img/new-logo-name1.png' %}"
                             class="d-inline-block align-top" alt=""
                             loading="lazy">
                    </a>
                    <div class="col-6">
                        <p class="text-light text-right">
                            {% if customer %}
                            Welcome {{customer.first_name}}
                            | <a class="text-light" href="/logout">Logout</a>
                            | <a class="text-light" href="/cart"><i class="fas fa-shopping-cart text-light"></i></a>
                            {% else %}
                            <a class="text-light" href="/register_login">Login</a>
                            | <a class="text-light" href="/register_login">Register</a>
                            {% endif %}
                        </p>
                    </div>
                </nav>
            </header>
            <div class="row my-0">
                <div class="col container no-gutters">
                    {% block main %}
                    <div class="row my-2">
                        <div class="col-3 px-0">
                            {% block sidebar %}
                            <h2>Sidebar block</h2>
                            {% endblock %}
                        </div>
                        <div class="col container no-gutters">
                            {% block content %}
                            <h2>Main block</h2>
                            {% endblock %}
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>

            <footer class="row mt-2">
                <nav class="col navbar black-nav">
                    <a class="text-light text-right" href="#">Contact Us : +1 222-222-2222</a>
                    <a class="text-light text-right" href="#">Customer Support</a>
                </nav>
            </footer>
        </div>
    </body>

</html>
