{% extends "base.html" %}
{% load static %}

{% block sidebar %}
<form class="form-inline pr-2">
    <input class="col form-control-sm mb-2 mr-sm-2" type="search" placeholder="product name"
           aria-label="Search">
    <button class="col-2 btn btn-outline-success mb-2 fas fa-search" type="submit"></button>
</form>
<h4>Categories</h4>
<ul>
    <li data-toggle="collapse" data-target="#cat1"><a href="javascript:void(0)">Liquid Soaps</a>
    </li>
    <ul id="cat1" class="collapse">
        <li><a href="">Liquid Soap</a></li>
        <li><a href="">Creamy Soap</a></li>
    </ul>

    <li data-toggle="collapse" data-target="#cat1"><a href="javascript:void(0)">Shampoo
        </a></li>
    <ul id="cat1" class="collapse">
        <li><a href="">Liquid Soap</a></li>
        <li><a href="">Creamy Soap</a></li>
    </ul>
</ul>
{% endblock %}

{% block content %}
<div class="row row-cols-3">
    <div class="col card">
        <img src="{% static 'img/amber.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Liquid Hand Soap</h5>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    <div class="col card">
        <img src="{% static 'img/antique-touch.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Liquid Hand Soap</h5>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    <div class="col card">
        <img src="{% static 'img/dance_of_flowers.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Liquid Hand Soap</h5>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    <div class="col card">
        <img src="{% static 'img/lila-bella.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Liquid Hand Soap</h5>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    <div class="col card">
        <img src="{% static 'img/love.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Liquid Hand Soap</h5>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    <div class="col card">
        <img src="{% static 'img/musk.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Liquid Hand Soap</h5>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="col card">
        <img src="{% static 'img/mystic_flowers.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Liquid Hand Soap</h5>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    <div class="col card">
        <img src="{% static 'img/olive_oil.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Olive Oil</h5>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="col card">
        <img src="{% static 'img/oud.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Liquid Hand Soap</h5>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
</div>
{% endblock %}
