<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark bg-danger">
            <a class="navbar-brand" href="/dashboard">Admin Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard/products">Products <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">View Site</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <button class="btn btn-secondary"> <a class="text-light" href="/admin/logout">Logoff</a></button>
                </form>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <h1>Hello {{user.username}}!! Welcome to Admin Dashboard</h1>
        <div class="row mt-5 mb-5">
            <div class="col-3">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        PRODUCTS
                        <div class="text-dark">You have: {{products | length}} products</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                        CUSTOMERS
                        <div class="text-dark">You have: {{customers | length}} customers</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                        ORDERS
                        <div class="text-dark">You have: {{shopped_items | length}} orders</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                <h3>All Customers</h3>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Customer ID</th>
                            <th>Customer Name</th>
                            <th>Customer Email</th>
                            <th>Customer Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr>
                            <td>{{customer.id}}</td>
                            <td>{{customer.first_name}} {{customer.last_name}}</td>
                            <td>{{customer.email}}</td>
                            <td>Address is empty for now</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-10">
                <h3>All Orders</h3>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Order ID</th>
                            <th>Ordered By</th>
                            <th>Ordered Product</th>
                            <th>Total Amount</th>
                            <th>Order status</th>
                            <th>Order Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in shopped_items%}
                        <tr>
                            <td>{{order.id}}</td>
                            <td>{{order.customer.first_name}} {{order.customer.last_name}}</td>
                            <td>Amber 50 ml</td>
                            <td>$ 200</td>
                            <td>On Hold</td>
                            <td>{{order.created_at}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-10">
            <h3>All Products</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Inventory</th>
                        <th>Sold Amount</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <th><a href="dashboard/products/{{product.id}}">{{product.id}}</a></th>
                        <th>{{product.title}}</th>
                        <th>{{product.price}}</th>
                        <th>{{product.inventory}}</th>
                        <th>{{product.quantity_sold}}</th>
                        <th>
                            {% for category in product.categories.all %}
                            {{category.name}}
                            {% endfor %}
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</body>

</html>